---
title: Cloud Playout
description: Brightcove Cloud Playout은 라이브 피드와 결합된 VOD 카탈로그 항목의 예정된 재생을 프로그래밍하고 Brightcove Live의 안정성과 확장성을 모두 갖춘 선형 채널로 스트리밍할 수 있는 Studio 모듈입니다.
parent: Home
---
 <h1>{{ page.title }}</h1>
<article class="landing-page-wrapper">
  <summary>{{ page.description }}</summary>
  <section class="bcls-topic-list">
    <h2 id="Topics_in_this_section">토픽</h2>
    <ul>
      {% for item in site.data.navigation %}
       {% if item.name == page.title %} {% for doc in item.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %}
    </ul>
  </section>
</article>